useDynLib(rtracklayer, .registration = TRUE)

import(RCurl, XML)

importFrom("IRanges", DataFrame, IRanges, RangedDataList, RangedData,
           RangesList, Rle, RangedSelection)

importClassesFrom("IRanges", RangedData, RangedDataList, DataTable,
                  Sequence, Annotated, DataTableORNULL, characterORNULL,
                  RangedSelection)

importMethodsFrom("GenomicRanges", strand)

importClassesFrom("Biostrings", file, connection)

importFrom("BSgenome", available.genomes)
importMethodsFrom("BSgenome", seqlengths)

importMethodsFrom("IRanges", start, end, "start<-", "end<-",
                  range, split, lapply, ranges, values, unlist, as.list,
                  isDisjoint, width, space, as.data.frame, rbind, universe,
                  "universe<-", score, "score<-", as.vector,
                  "ranges<-", colnames, "colnames<-", queryHits, findOverlaps)

exportClasses("BrowserSession", "BrowserView",
              "UCSCSession", "UCSCView",
              "UCSCData", "TrackLine", "BasicTrackLine", "GraphTrackLine",
              "Bed15TrackLine", "UCSCTrackModes",
              "RangedSelection", "BigWigSelection")

exportMethods("activeView", "activeView<-", "blocks", "browseGenome",
              "browserSession", "browserSession<-",
              "browserView", "browserViews",
              "close", "export", "export.bed", "export.bed15",
              "export.bedGraph", "export.gff", "export.gff1", "export.gff2",
              "export.gff3", "export.ucsc", "export.wig",
              "import", "import.bed", "import.bed15", "import.bedGraph",
              "import.gff", "import.gff1", "import.gff2", "import.gff3",
              "import.ucsc", "import.wig", "sequence<-", "track<-",
              "track", "trackNames", "trackNames<-", "getTable",
              "tableNames", "trackName", "trackName<-",
              "tableName", "tableName<-",
              "ucscTrackModes", "ucscTrackModes<-", "coerce", "initialize",
              "show", "[", "ucscTableQuery",
              "genome", "genome<-", "chrom", "chrom<-", "range", "range<-",
              "visible", "visible<-",
              ## from IRanges
              "start", "end", "start<-", "end<-", "score", "score<-",
              "as.data.frame",
              ## from GenomicRanges
              "strand"
              )

export("genomeBrowsers", "start", "end", "strand", "start<-", "end<-",
       "ranges", "GenomicRanges", "GenomicData", "GenomicSelection", "IRanges",
       "RangedDataList", score, "score<-", "as.data.frame", "ucscGenomes",
       "export.bw", "import.bw")

## the S4-connection compatibility layer
exportClasses("connection",
              "file", "url", "gzfile", "unz", "pipe", "sockconn",
              "characterORconnection")
